CONFIG_ARM=y
CONFIG_ARCH_APPLE=y
# CONFIG_DISPLAY_CPUINFO is not set
# CONFIG_MMC is not set
# CONFIG_NET is not set
# CONFIG_SIMPLE_PANEL is not set
CONFIG_NULLDEV_SERIAL=y
CONFIG_VIDEO_SIMPLE=y
# CONFIG_REQUIRE_SERIAL_CONSOLE is not set
CONFIG_DISPLAY_BOARDINFO_LATE=y
